.aside {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  height: 100%;

  justify-content: space-between;

  padding-bottom: 12px;
}

.logoContainer {
  background-color: var(--logo-color);

  height: 80px;
}

.nav{
  margin-bottom: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navList {

}

.navItem {

}

.navLink {
  padding: 12px 25px;
  display: flex;
  column-gap: 24px;
}

.user {
  composes: navLink;
  align-items: center;
}

.userName {
  font-weight: 700;
}
