.paper {
  padding-top: 24px;
  margin-bottom: 24px;
}
.title {
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71px;

  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* margin-top: 20px; */
  padding-top: 24px;
  gap: 36px;
}
.label {
  display: flex;
  width: 100%;
  max-width: 488px;
}
.input {
  padding: 12px 8px;
  width: 100%;
  max-width: 488px;
}
.input::placeholder {
  color: #757575;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.submitBtn {
  display: inline-flex;
  width: auto;
  padding: 8px 16px;
}

.submitBtn > img {
  display: none;
}
.submitBtn:disabled {
  background-color: #ffe0b2;
}
